<form id="usuario-form">
    <h2>Cadastro de Usuário</h2>

    <p>
        <label for="nome">Nome:</label>
        <input id="nome" name="nome" type="text"/>
    </p>
    <p>
        <label for="papeis">Papéis:</label>
        <input id="papeis" name="papeis" type="text"/>
    </p>
    <p>
        <button class="uk-button uk-button-default" hx-post="/papel" hx-swap="beforeend" hx-target="#usuarios" _="on click remove #usuario-form then hide .modal">
            Cadastrar
        </button>
        <button _="on click remove #usuario-form then hide .modal" class="uk-button uk-button-default" type="button">
            Cancelar
        </button>
    </p>
</form>
