<tr th:fragment="papelRow(papel)" xmlns:th="http://www.w3.org/1999/xhtml">
    <td th:text="${papel.id}"></td>
    <td th:text="${papel.descricao}"></td>
    <td>
        <button class="icon-btn" th:attr="hx-get=|/papel/${papel.id}/editar|" title="Editar">
            <i class="bi bi-pencil-square"></i>
        </button>
        <button class="icon-btn" hx-confirm="Tem certeza que quer remover esse papel?"
                th:attr="hx-delete=|/papel/${papel.id}|"
                title="Remover">
            <i class="bi bi-trash"></i>
        </button>
    </td>
</tr>
