<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- UIkit CSS -->
    <link href="https://cdn.jsdelivr.net/npm/uikit@3.16.26/dist/css/uikit.min.css" rel="stylesheet"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.26/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.26/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{../css/main.css}"/>

    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>

    <title>Papéis</title>
</head>

<body>

<div class="uk-container">
    <h1 class="uk-heading-divider">Papéis</h1>

    <table class="uk-table uk-table-striped uk-table-small" id="papeis">
        <thead>
        <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Opções</th>
        </tr>
        </thead>

        <tbody hx-swap="outerHTML" hx-target="closest tr">
        <tr th:each="papel : ${papeis}" th:insert="~{papel/papelRow :: papelRow(${papel})}" th:remove="tag"></tr>
        </tbody>

        <tfoot>
        <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Opções</th>
        </tr>
        <tr>
            <td colspan="100%">
                <button
                        _="on click show .modal"
                        class="uk-button uk-button-default"
                        hx-get="/papel/form"
                        hx-swap="innerHTML"
                        hx-target=".modal">
                    Novo papel
                </button>
            </td>
        </tr>
        </tfoot>
    </table>

    <div class="modal" style="display: none;"></div>
</div>

</body>
</html>